<html>
<body bgcolor="#f44d00">
<center><h1>Seguimiento KPI's 
<br>Proyecto de Modernización de la Línea 1 STC Metro</br></h1>
<br></br>
<label> Registrar Incidentes</label>
<br>
<br></br>
<form><a href="formulario_VIAS/"><input type="button" style= width:300px value="VIAS"> </a>
<form><a href="formulario_trenes/"><input type="button" style= width:300px value="TRENES"> </a>
<form><a href="formulario_SC/"><input type="button" style= width:300px value="SISTEMAS DE CONTROL"> </a>
<br></br>
<br></br>
<label> Registrar Actividades de Mantenimiento</label>
<br></br>
<br></br>
<form><a href="formulario_mtto/"><input type="button" style= width:300px value="MANTENIMIENTO"> </a>
<br></br>
<br></br>
<br></br>
<br></br>
<form><a href="Ventana_KPIs/"><input type="button" style= width:300px value="CALCULAR KPI's"> </a>

</body>
</html>

  
